@model IEnumerable<GamerShop.Models.Product>

@{
    ViewBag.Title = "Index";
}

<div id="product-list-wrap">
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <p>@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xl" })</p>
    }

    @using (Html.BeginForm("Index", "Products"))
    {

        <div class="search-wrap">
            <input type="text" name="searchText" placeholder="Search..." class="search" required />
            <input type="submit" value="Search" class="btn btn-primary btn-xl" />
        </div>

    }

    <div class="grid js-masonry"
         data-masonry-options='{ "itemSelector": ".grid-item", "columnWidth": 340 }'>
        @foreach (var item in Model)
        {
            <div class="grid-item">
                <div class="product-wrap">
                    <img src="@Html.DisplayTextFor(modelItem => item.ImgUrl)" alt="">
                    <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
                    <h4>@Html.DisplayNameFor(model => model.Price) @Html.DisplayFor(modelItem => item.Price)</h4>
                    <div class="product-details">
                        @Html.ActionLink("View Details", "Details", new { id = item.Id }, new { @class = "btn btn-product" })
                    </div>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <div class="product-details">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-product" }) 
                        </div>
                        <div class="product-details">
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-product" })
                        </div>
                    }
                </div>
            </div>

        }
    </div>

</div>