@model IEnumerable<GamerShop.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="row">
@foreach (var item in Model)
{
    <div class="col-sm-6 col-lg-4">
        <img src="@Html.DisplayTextFor(modelItem => item.ImgUrl)" class="img-responsive" alt="" />
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    @Html.DisplayFor(modelItem => item.Title)
                </div>
                <div class="project-name">
                    @Html.DisplayNameFor(model => model.Price) @Html.DisplayFor(modelItem => item.Price)
                    <p>
                        @Html.ActionLink("View Details", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-xl" })
                        <br />
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </p>
                </div>

            </div>
        </div>
    </div>
}
</div>

