@model IEnumerable<GamerShop.Models.Product>

@{
    ViewBag.Title = "Index";
}

<div id="product-list-wrap">
    <p>@Html.ActionLink("Create New", "Create")</p>


    <div class="grid js-masonry"
         data-masonry-options='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
        @foreach (var item in Model)
        {


            <div class="grid-item">
                <div class="product-wrap">
                    <img src="@Html.DisplayTextFor(modelItem => item.ImgUrl)" alt="">
                    @Html.DisplayFor(modelItem => item.Title)
                    <h2>@Html.DisplayNameFor(model => model.Price) @Html.DisplayFor(modelItem => item.Price)</h2>
                    @Html.ActionLink("View Details", "Details", new { id = item.Id }, new { @class = "info" })
                </div>
            </div>
            @*Html.ActionLink("Edit", "Edit", new { id = item.Id }) <text> | </text>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
        }
    </div>

</div>