<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/fonts")
    <link rel="shortcut icon" type="image/x-icon" href="~/shopping.ico" />

    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' />
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' />
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")


</head>
<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Homemade Snacks", "Index", "Home", new { area = "" }, new { @class = "navbar-brand page-scroll" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="page-scroll" href="/Home/Index/#page-top">Home</a></li>
                    <li><a class="page-scroll" href="/Home/Index/#about">About</a></li>
                    <li>@Html.ActionLink("Shop", "Index", "Products")</li>
                    <li><a class="page-scroll" href="/#contact">Contact</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    @RenderSection("featured", false)
    @{if (ViewBag.noContainer == null)
        {
            <section id="page-wrap">
                @RenderBody()
            </section>
        }
        else {  @RenderBody()}
    }


    <footer>
        <section id="contact" class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to give us some feedback? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
            </div>
            <div class="row">
                <p class="col-xs-12 text-center">
                    123-456-6789
                </p>
            </div>
            <div class="row">
                <p class="col-xs-12 text-center">
                    <a href="mailto:your-email@your-domain.com">feedback@gamershop.com</a>
                </p>
            </div>
        </section>
        <p id="copy" class="text-center">&copy; @DateTime.Now.Year - ASP.NET GamerShop</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)

</body>
</html>
